<!-- Part of Razor -->
@using Newtonsoft.Json

@{
    var organizations = VP.GetEntitiesData("Organization", "Id,Name,Collections,M2,ProfitCenter,RPlusFloorCount,RMinusFloorCount,UrlBentley", "EntityState=1", "Organization=FilterQueryOrga,Theme=FilterQueryTheme,Collection=FilterQueryCollection").OrderBy(obj => obj.Name).ToList();;
}

<!-- Just hiere for test add options by JS -->
<select name="site" id="siteSelector" class="selector">
    <option value="null">--Choisissez un site--</option>
</select>

<script>
        let organizations = JSON.parse(('@JsonConvert.SerializeObject(organizations)').replace(/&quot;/g, '"'));
</script>

<!-- Part of JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log(organizations);
        handleSiteSelectorFilter(organizations);
    });

    // handle user site selector filter
    function handleSiteSelectorFilter(aoOrganizations) {
        let siteSelector = document.getElementById("siteSelector");

        // add all site in user selector filter
        aoOrganizations.forEach(element => {
            let option = document.createElement('option');
            option.value = element.Id;
            option.innerHTML = element.Name;
            siteSelector.appendChild(option);
        });

        // build event on change value for update data
        siteSelector.addEventListener("change", () => {
            var selectedValue = siteSelector.options[siteSelector.selectedIndex].value;
            loadNewOrganization(selectedValue);
        });
    }

    // load a new Organization (update data in all containers)
    function loadNewOrganization(siteId) {
        console.log(siteId);
    }
</script>